
/* Bloks Reusable Class Styles 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
%input-group {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-gr {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: separate;
  &-addon {
    @extend %input-group;
    display: table-cell;
    width: 40px;
    padding: 6px 12px;
    font: normal normal bold 1rem/1 Raleway, 'Helvetica Neue', sans-serif;
    color: $theme-red;
    text-align: center;
    background-color: $theme-red-op;
    border: 1px solid $theme-red;
    border-radius: 4px 0 0 4px;
  }
}

.form-cont {
  display: block;
  width: 100%;
  padding: 0.5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464A4C;
  background-color: $theme-content-lt;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
  border: 1px solid $theme-red;
  border-left: none;
  border-radius: 0 .25rem 0.25rem 0;
  -webkit-transition: border-color ease-in-out 0.15s,
                      -webkit-box-shadow ease-in-out 0.15s;
  -moz-transition:    border-color ease-in-out 0.15s,
                      -webkit-box-shadow ease-in-out 0.15s;
  transition:         border-color ease-in-out 0.15s,
                      -webkit-box-shadow ease-in-out 0.15s;
  -o-transition:      border-color ease-in-out 0.15s,
                      box-shadow ease-in-out 0.15s;
  transition:         border-color ease-in-out 0.15s,
                      box-shadow ease-in-out 0.15s;
  transition:         border-color ease-in-out 0.15s,
                      box-shadow ease-in-out 0.15s,
                      -webkit-box-shadow ease-in-out 0.15s;
  &:focus {
    outline: 0;
    border-color: transparent;
    -webkit-box-shadow: inset 0 0 4px 0 rgba(210, 210, 210, 0.3),
                        0 0 2px 0 rgba(0, 183, 255, 0.42);
    box-shadow:         inset 0 0 4px 0 rgba(210, 210, 210, 0.3),
                        0 0 2px 0 rgba(0, 183, 255, 0.42);
  }
  .input-gr-addon + & {
    border-radius: 0 4px 4px 0;
    border-left: none;
  }
}
textarea.form-cont { max-height: 250px; }
