
/* Sass Styles for Event-Editing Modal
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#edit-event-form,
#new-event-form {
  fieldset {
    width: 95%;
    max-width: 665px;
    margin: 2rem auto;
  }
  .dz {
    @include cbBorderRadii(8px);
    border: 0.357143rem dashed $theme-red;
    text-align: center;
    font: bold 20pt 'Vollkorn';
    color: $theme-content-lt-gray;
    &-box {
      @include cbBorderRadii(8px);
      margin: 0.65rem;
      padding: 2.5rem 1.785714rem 1.785714rem;
      background-color: $theme-red-op;
      border-radius: 8px;
      > div { margin-top: 1.5rem; }
      label { cursor: pointer; }
    }
  }
  .dz-wrapper {
    output {
      @include flex(flex, row nowrap, flex-start);
      position: relative;
      // padding: .75rem 0 1.5rem 1rem;
      overflow-x: overlay;
      overflow-y: hidden;
      .thumb {
        position: relative;
        width: 10vw;
        height: 10vw;
        flex-shrink: 0;
        background: transparent no-repeat center / contain;
        overflow: hidden;
        &-wrapper {
          @include cbBorderRadii(8px);
          position: relative;
          padding: 2px 4px;
          border: 1px solid $theme-content-lt-gray;
          background-color: #F7F7F7;
          &:before {
            @include cbTransition(0.25s ease-in);
            @extend %hidden;
            position: absolute;
            content: '';
            width: 100%;
            height: 35%;
            left: 0;
            top: 0;
            border-radius: 6px 6px 0 0;
            background: $bckg-black-op;
            background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.69) 20%, rgba(0, 0, 0, 0.35) 65%, transparent 95%);
            background:    -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.69) 20%, rgba(0, 0, 0, 0.35) 65%, transparent 95%);
            background:      -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.69) 20%, rgba(0, 0, 0, 0.35) 65%, transparent 95%);
            background:         linear-gradient(to bottom, rgba(0, 0, 0, 0.69) 20%, rgba(0, 0, 0, 0.35) 65%, transparent 95%);
            z-index: 1;
          }
          &:hover:before,
          &:hover .glyphicon { @extend %visible; }
          + .thumb-wrapper { margin-left: 1vw; }
          .glyphicon {
            @extend %hidden;
            position: absolute;
            right: 0.35rem;
            top: 0.35rem;
            font: normal lighter 1.35rem/1 'Glyphicons Halflings', sans-serif;
            color: $theme-content-lt;
            cursor: pointer;
            z-index: 1;
          }
        }
        img { @include center(); }
      }
    }
    .file-upload-btn { display: none; }
  }  
}
.close-btn {
  @extend %primaryBtn;
  @extend %br-circle;
  @extend %no-select;
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: -2rem;
  top: -2rem;
  z-index: 11;
  &:hover { background-color: $theme-primary-focus; }
}

.modal-wrapper {
  height: 100%;
  max-height: 75vh;
  margin: 2.5% 0;
  padding: 0 5%;
  overflow-y: scroll;
  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 5vh;
    border-radius: 14px;
    z-index: 10;
  }
  &:before {
    top: 0;
    background: linear-gradient(to bottom, #FFF 20%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0.08) 99%);
  }
  &:after{
    background: linear-gradient(to top, #FFF 20%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0.08) 99%);
    bottom: 0;
  }
}

// form { }

.btn-animm {
  background-color: #4285F4;
  color: $theme-content-lt;
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  background: #DFDFDF;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                      0 3px 1px -2px rgba(0, 0, 0, 0.12),
                      0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow:         0 2px 2px 0 rgba(0, 0, 0, 0.14),
                      0 3px 1px -2px rgba(0, 0, 0, 0.12),
                      0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-anim {
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                      0 3px 14px 2px rgba(0, 0, 0, 0.12),
                      0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow:         0 8px 10px 1px rgba(0, 0, 0, 0.14),
                      0 3px 14px 2px rgba(0, 0, 0, 0.12),
                      0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.evt-tag {
  position: relative;
  display: inline;
  padding: 0.215rem 0.5rem 0.215rem 2rem;
  background: rgba(201, 200, 200, 0.64);
  &:before {
    position: absolute;
    content: '✖';
    left: 0.75rem;
    cursor: pointer;
  }
}
