
/* Sass Global Style Declarations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
*,
*:before,
*:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: normal 14px/1 'Helvetica Neue', sans-serif;
  overflow-x: hidden !important;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font: inherit;
  overflow-x: hidden;
  background-color: $theme-bckg;
}

ul {
  list-style: none outside none;
  padding-left: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: inherit;
  &:focus,
  &:active,
  &:visited {
    color: initial;
    text-decoration: none;
  }
}

i { font-style: normal; }

textarea {
  display: block;
  width: inherit;
  -moz-resize: vertical !important;
       resize: vertical !important;
}

blockquote {
  @include cbTransition($transition-ease, height);
  position: relative;
  padding: 0 1rem;
  border: none;
  font: oblique 1.2rem/1 'Raleway', 'Helvetica Neue', sans-serif;
  overflow-y: hidden;
  &:before,
  &:after {
    position: absolute;
    color: $theme-border;
    font: italic bold 2.5rem/1 -webkit-pictograph, sans-serif;
  }
  &:before {
    content: open-quote;
    left: -0.75rem;
    top: -0.75rem;
  }
  &:after {
    content: close-quote;
    right: 0;
  }
}

button:active,
button:focus,
button:visited {
  outline: none;
}

.input-gr-addon + label {
  display: none;
}

strong,
em { color: $theme-black; }

img {
  vertical-align: bottom !important;
}
