
/* CSS @keyframe Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@-webkit-keyframes bounceArrow {
  0% { transform: translateY(0); }
  100% { transform: translateY(-0.357143rem); }
}
@-moz-keyframes bounceArrow {
  0% { transform: translateY(0); }
  100% { transform: translateY(-0.357143rem); }
}
@-ms-keyframes bounceArrow {
  0% { transform: translateY(0); }
  100% { transform: translateY(-0.357143rem); }
}
@-o-keyframes bounceArrow {
  0% { transform: translateY(0); }
  100% { transform: translateY(-0.357143rem); }
}
@keyframes bounceArrow {
  0% { transform: translateY(0); }
  100% { transform: translateY(-0.357143rem); }
}


@-webkit-keyframes modalEntrance {
  0% {
    top: -100vh;
    transform: translateX(-50%);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes growBtn {
  0% {
    width: 0;
    height: 0;
    right: 5.5rem;
    bottom: 5.5rem;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    width: 3.2142857142857144rem;
    height: 3.2142857142857144rem;
    right: 3.892857142857143rem;
    opacity: 1;
    visibility: visible;
  }
}
