
/* CSS @keyframe Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@-webkit-keyframes bounceArrow {
  0% { transform: translateY(0); }
  100% { transform: translateY(-0.357143rem); }
}
@-moz-keyframes bounceArrow {
  0% { transform: translateY(0); }
  100% { transform: translateY(-0.357143rem); }
}
@-ms-keyframes bounceArrow {
  0% { transform: translateY(0); }
  100% { transform: translateY(-0.357143rem); }
}
@-o-keyframes bounceArrow {
  0% { transform: translateY(0); }
  100% { transform: translateY(-0.357143rem); }
}
@keyframes bounceArrow {
  0% { transform: translateY(0); }
  100% { transform: translateY(-0.357143rem); }
}


@-webkit-keyframes modalEntrance {
  0% {
    top: -100vh;
    transform: translateX(-50%);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@-moz-keyframes modalEntrance {
  0% {
    top: -100vh;
    transform: translateX(-50%);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@-ms-keyframes modalEntrance {
  0% {
    top: -100vh;
    transform: translateX(-50%);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@-o-keyframes modalEntrance {
  0% {
    top: -100vh;
    transform: translateX(-50%);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes modalEntrance {
  0% {
    top: -100vh;
    transform: translateX(-50%);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes growBtn {
  0% {
    width: 0;
    height: 0;
    right: 5.5rem;
    bottom: 5.5rem;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    width: 3.2142857142857144rem;
    height: 3.2142857142857144rem;
    right: 3.892857142857143rem;
    opacity: 1;
    visibility: visible;
  }
}
@-moz-keyframes growBtn {
  0% {
    width: 0;
    height: 0;
    right: 5.5rem;
    bottom: 5.5rem;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    width: 3.2142857142857144rem;
    height: 3.2142857142857144rem;
    right: 3.892857142857143rem;
    opacity: 1;
    visibility: visible;
  }
}
@-ms-keyframes growBtn {
  0% {
    width: 0;
    height: 0;
    right: 5.5rem;
    bottom: 5.5rem;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    width: 3.2142857142857144rem;
    height: 3.2142857142857144rem;
    right: 3.892857142857143rem;
    opacity: 1;
    visibility: visible;
  }
}
@-o-keyframes growBtn {
  0% {
    width: 0;
    height: 0;
    right: 5.5rem;
    bottom: 5.5rem;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    width: 3.2142857142857144rem;
    height: 3.2142857142857144rem;
    right: 3.892857142857143rem;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes growBtn {
  0% {
    width: 0;
    height: 0;
    right: 5.5rem;
    bottom: 5.5rem;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    width: 3.2142857142857144rem;
    height: 3.2142857142857144rem;
    right: 3.892857142857143rem;
    opacity: 1;
    visibility: visible;
  }
}



@-webkit-keyframes bckgGradientSlideLeft {
  from { background-position: center center; }
  to { background-position: -79px -10px; }
}
@-moz-keyframes bckgGradientSlideLeft {
  from { background-position: center center; }
  to { background-position: -79px -10px; }
}
@-o-keyframes bckgGradientSlideLeft {
  from { background-position: center center; }
  to { background-position: -79px -10px; }
}
@keyframes bckgGradientSlideLeft {
  from { background-position: center center; }
  to { background-position: -79px -10px; }
}

@keyframes radialGradientBurst {
  from {
    background:
      linear-gradient(to right, rgba(42, 39, 39, 0.67) 13%, rgba(0, 0, 0, 0.2) 156%)
      repeat-x center center / 7vw 12vw;
  }
  to {
    background:
      linear-gradient(to right, rgba(42, 39, 39, 0.67) 13%, rgba(0, 0, 0, 0.2) 156%)
      repeat-x center center / 7vw 12vw;
  }
}
