
/* Main Sass Style Declarations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
 #tl-container { min-height: 75vh; }

.tl {
  position: relative;
  display: table;
  width: 75vw;
  height: 100%;
  list-style: none;
  margin: 2rem 12.5vw;
  padding: 0;
  > li {
    position: relative;
    width: 50%;
    max-height: 1000px;
    margin-bottom: 2.5rem;
    float: left;
    clear: both;
    transition: all 1s ease;
    * {
      word-break: break-word;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: pre-wrap;
    }
    &:first-child { margin-top: 3.571429rem; }    // Add space above for beginning of timeline
    &:last-child { margin-bottom: 3.571429rem; }  // Add space below for end of timeline
    &.tl-event-invert {
      width: 50%;
      left: 0;
      float: right;
      .tl-marker { left: -2.5%; }
      .tl-toolbar { left: calc(100% + 1rem); }
      .tl-event-panel {
        left: 0;
        margin-right: 22.5%;
        float: right;
        &:before { @extend %tt-left-shadow; }
        &:after { @extend %tt-left; }
        .panel {
          &-header {
            .collapse-up {
              left: auto;
              right: -0.5rem;
              order: 1;
              transition: transform 0.5s ease;
            }
          }
        }
      }
    }
  }
  &:before {
    position: absolute;
    content: '';
    width: 5px;
    height: 100%;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -2.5px;
    border-radius: 1rem;
    background-color: $theme-content-lt;  // $theme-red-no-op;
    -webkit-filter: drop-shadow(0 0 7.5px #999);
    filter:         drop-shadow(0 0 7.5px #999);
  }
  .tl-event-panel {
    @include cbBoxShadow(0 1px 6px rgba(0, 0, 0, 0.175));
    position: relative;
    width: 70%;
    left: 22.5%;
    border: 1px solid $theme-border;
    background-color: #FFF;
    &:before { @extend %tt-right-shadow; }
    &:after { @extend %tt-right; }
    .panel {
      &-header,
      &-body,
      &-footer {
        position: relative;
        padding: 1.25rem;
        border: none;
      }
      &-header {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        h3 {
          width: 95%;
          color: $theme-red;
        }
        .collapse-up {
          transition: transform 0.5s ease;
          position: relative;
          top: -0.5rem;
          left: -0.5rem;
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
      &-body {
        [class^='tl-'] {
          margin: 1rem 0 0;
          .toggle-glyph {
            transition: transform 0.25s ease;
            float: right;
            &.active { transform: rotateZ(90deg); }
          }
        }
        .tl-location,
        .tl-photos { cursor: pointer; }
        .static-map-wrapper {
          position: relative;
          height: 0;
          margin: 0.5rem 1rem 0 0.5rem;
          border-left: thin dashed $theme-red;
          overflow: hidden;
          &.active { height: auto; }
          img {
            width: calc(100% - 0.714286rem);
            margin-left: 0.714286rem;
          }
        }
      }
      &-footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: #F4F4F4;
        .glyphicon-star { color: #F6DB3D; }
      }
    }
    &:hover .tl-toolbar { @extend %visible; }
    .tl-toolbar {
      @include cbTransition(0.25s 0.25s cubic-bezier(0, 0.25, 0.7, 0.4));
      @extend %hidden;
      position: absolute;
      right: calc(100% + 1rem);
      > button {
        @include cbBoxShadow(0 0 10px 1px rgba(0, 0, 0, 0.175));
        background: $theme-content-lt;
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 50%;
        text-align: center;
        font: 700 1.5rem/2.5rem 'Helvetica Neue', sans-serif;
      }
    }
  }
  .tl-marker {
    position: absolute;
    width: 5%;
    height: 2rem;
    right: -2.5%;
    text-align: center;
    > i {
      top: -0.75rem;
      font-size: 1.5rem;
    }
  }
} 


.btn-controls {
  @extend %br-circle;
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 3rem;
  top: auto !important;
  bottom: 3rem;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 5rem;
  background: $theme-red url(https://ssl.gstatic.com/s2/oz/images/quark/a7367650055ae3cf32ee3b7023c1ed88ic_create_wht_24dp.png) no-repeat center / 50%;
  background-image: none;
  color: $theme-content-lt;
  z-index: 1;
  .glyphicon {
    display: block;
    left: 2px;
    top: -1px;
    font-size: 2.5rem;
  }
  &-child {
    @include flex(flex, row, center, center);
    position: fixed;
    border: none;
    border-radius: 50%;
    background-color: $theme-content-lt;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
    color: #8898A5;
    .glyphicon { font-size: 1.5rem; }
    i {
      font-size: 1.5rem;
      line-height: 1;
    }
  }
}

.btn-shadow {
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 3rem;
  top: auto !important;
  bottom: 3rem;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.glyphicon {
  &-tags { padding-right: 0.5rem; }
  .panel-body &:first-child,
  .panel-footer &:first-child {
    margin-right: 1rem;
    color: $theme-red;
  }
}




.tl-event .panel-header h3 {
  width: 80% !important;
  text-align: end;
}
.tl-event-invert .panel-header h3 {
  width: 80% !important;
  text-align: start;
}
