
/* Reusable CSS Utility Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// 
.flex {
  &-row { @include flex(flex, row nowrap); }
  &-col { @include flex(flex, column nowrap); }
}

// Apply to text body:
.text-wrap {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

// Apply where `text-overlay` should be width-constrained and delimited by an ending ellipsis:
.text-of {
  word-break: break-word;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.empty-summary {
  height: 50px;
  background: transparent url("data:image/svg+xml;utf8,<svg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'><g fill='%23E8BAA5' fill-opacity='0.4' fill-rule='evenodd'><path d='M5 0h1L0 6V5zM6 5v1H5z'/></g></svg>") repeat center;
  background-clip: content-box;
}

/* Clearfix
 * For modern browsers...
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 *
 * See <http://nicolasgallagher.com/micro-clearfix-hack/>
 */
.cf {
  &:before,
  &:after {
    content: " ";   // 1.
    display: table; // 2.
  }
  &:after { clear: both; }
}

// Include this rule to trigger hasLayout and contain floats for IE 6/7 only:
.cf { *zoom: 1; }

// Styles to apply for collapsed `.panel-body` and `.panel-footer` elements:
.tl-collapsed {
  @extend %hidden;
  max-height: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  transition: all 0.5s ease;
}
.panel-body,
.panel-footer {
  transition: all 0.5s ease;
}

.modal-active {
  height: 100vh !important;
  overflow: hidden !important;
}

// Custom checkbox inputs:
.checkbox { margin: 0; }
input[type='checkbox'] {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  + label {
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    &:before {
      @include cbTransition();
      position: absolute;
      content: '';
      width: 1rem;
      height: 1rem;
      left: 0.35rem;
      border: 2.5px solid $cb-unchecked;
      border-radius: 3px;
    }
  }
  &:checked {
    + label {
      &:before {
        @include cbBorder();
        width: 12px;
        height: 22px;
        left: 0.15rem;
        top: -9px;
        transform: rotate(40deg);
      }
    }    
  }
  &.batch-select {
    + label:before {
      width: 1.75rem;
      height: 1.75rem;
      left: -0.25rem;
    }
    &:checked + label:before {
      width: 1rem;
      height: 2rem;
      top: 0.05rem;
      left: 0.5rem !important;
    }
  }
}
.tl-event-invert input[type='checkbox'] {
  &:checked + label:before,
  + label:before {
    left: auto;
    right: 0.25rem;
  }
}

.form-btn {
  min-width: 20%;
  height: 40px;
  margin-left: 5%;
  padding: 0.75rem 1.75rem;
  float: right;
  border: none;
  border-bottom: 4px solid;
  border-radius: 8px;
  transition: all 0.05s linear;
  &:hover {
    border-bottom-width: 3px;
    transform: translateY(1px);
  }
  &:active {
    border-bottom-width: 2px;
    transform: translateY(2px);
  }
}

.tooltip {
  @include cbTransition(0.45s 0.35s ease-in-out);
  @extend %hidden;
  position: absolute;
  right: calc(100% + 0.75rem);
  top: 50%;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  transform: translateY(-50%);
  color: $theme-content-lt;
  background-color: #888;
  white-space: pre;
  font-size: 1.25rem;
  z-index: 2;
  .batch-action-btns:hover &,
  .btn-controls-child:hover & { @extend %visible; }
}

