
/* Reusable CSS Utility Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Apply where `text-overlay` should be constrain and delimited by an ending ellipsis:
.text-of {
  word-break: break-word;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Clearfix
 * For modern browsers...
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 *
 * See <http://nicolasgallagher.com/micro-clearfix-hack/>
 */
.cf {
  &:before,
  &:after {
    content: " ";   // 1.
    display: table; // 2.
  }
  &:after { clear: both; }
}

// Include this rule to trigger hasLayout and contain floats for IE 6/7 only:
.cf { *zoom: 1; }

// Styles to apply for collapsed `.panel-body` and `.panel-footer` elements:
.tl-collapsed {
  @extend %hidden;
  max-height: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  transition: all 0.5s ease;
}
.panel-body,
.panel-footer {
  transition: all 0.5s ease;
}

.modal-active { overflow: hidden !important; }

// Custom checkbox inputs:
.checkbox { margin: 0; }
input[type='checkbox'] {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  + label {
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    &:before {
      @include cbTransition();
      position: absolute;
      content: '';
      width: 1rem;
      height: 1rem;
      left: 0.35rem;
      border: 2.5px solid $cb-unchecked;
      border-radius: 3px;
    }
  }
  &:checked {
    + label {
      &:before {
        @include cbBorder();
        width: 12px;
        height: 22px;
        left: 0.15rem;
        top: -9px;
        transform: rotate(40deg);
      }
    }    
  }
  &.batch-select {
    + label:before {
      width: 1.75rem;
      height: 1.75rem;
      left: -0.25rem;
    }
    &:checked + label:before {
      width: 1rem;
      height: 2rem;
      top: 0.05rem;
      left: 0.5rem !important;
    }
  }
}
.tl-event-invert input[type='checkbox'] {
  &:checked + label:before,
  + label:before {
    left: auto;
    right: 0.25rem;
  }
}


.tooltip {
  @include cbTransition(0.45s 0.35s ease-in-out);
  @extend %hidden;
  position: absolute;
  right: calc(100% + 0.75rem);
  top: 50%;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  transform: translateY(-50%);
  color: $theme-content-lt;
  background-color: #888;
  white-space: pre;
  font-size: 1.25rem;
  z-index: 2;
  .batch-action-btns:hover &,
  .btn-controls-child:hover & { @extend %visible; }
}

