{
  // "babelrc": true,
//  "code": true,
  "comments": true,
  "compact": "auto",
  "env": {
    "development": {
      "plugins": [
        ["emotion", {
          "autoLabel": true,
          "sourceMap": true,
        }],
        "react-hot-loader/babel",
        "@babel/transform-react-display-name",
        "@babel/transform-react-jsx-self",
        "@babel/transform-react-jsx-source",
      ],
      "sourceMaps": true,
    },
    "production": {
      "minified": true,
      "plugins": [
        ["emotion", {
          "hoist": true,
          "sourceMap": false,
        }],
        ["@babel/transform-flow-strip-types", {
          "requireDirective": true,
        }],
        ["transform-imports", {
          "lodash": {
            "preventFullImport": true,
            "transform": "lodash/${member}",
          },
          "react-bootstrap": {
            "preventFullImport": true,
            "transform": "react-bootstrap/lib/${member}",
          },
        }],
        ["transform-react-remove-prop-types", {
          "additionalLibraries": [
            "prop-types-extra",
            // "react-immutable-proptypes",
            "react-router-prop-types",
          ],
          "mode": "remove", // Remove the `propTypes` declarations altogether
          "removeImport": true, // Remove the `PropTypes` import statement
        }],
        "@babel/transform-react-inline-elements",
        "@babel/transform-react-constant-elements",
        "transform-remove-debugger",
        ["minify-dead-code-elimination", {
          "keepClassName": true,
          "keepFnArgs": true,
          "keepFnName": true,
          "optimizeRawSize": true,
          "tdz": true,
        }],
      ],
    },
  },
  "ignore": [
    "**/build/**/*.js*",
  ],
  "plugins": [
    "emotion",
    "lodash",
    "@babel/transform-async-to-generator",
    "@babel/proposal-decorators",
    "@babel/proposal-class-properties",
    "@babel/proposal-function-bind",
    "@babel/proposal-async-generator-functions",
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-numeric-separator",
    ["@babel/proposal-object-rest-spread", {
      "useBuiltIns": false,
    }],
    "@babel/proposal-optional-catch-binding",
    "@babel/proposal-optional-chaining",
    "@babel/proposal-pipeline-operator",
    "@babel/transform-object-super",
    "@babel/transform-template-literals",
    "@babel/transform-typeof-symbol",
    "@babel/transform-exponentiation-operator",
    "@babel/transform-for-of",
    ["transform-builtin-extend", {
      "globals": [
        "Array",
        "Date",
        "DOM",
        "Error",
      ],
      "approximate": true,
    }],
  ],
  "presets": [
    ["@babel/env", {
      "debug": false,
      "modules": "commonjs",
      "spec": false,
      "targets": {
        "browsers": [
          "last 3 versions",
          "safari >= 7",
          // "Safari > 10%",
          "not IE <= 8", // React doesn't support IE8 anyway
        ],
        "chrome": 52,
        "edge": 14,
        "node": "4.0",
        "uglify": true,
      },
      "useBuiltIns": false,
    }],
    "@babel/flow",
    ["@babel/es2015", {
      "loose": true,
      "modules": false,
    }],
    "@babel/stage-0",
    "@babel/react",
  ],
}
