
{
  "presets": [
    ["env", {
      "debug": false,
      "targets": {
        "chrome": 52,
        "edge": 14,
        // "safari": ">10%",
        "browsers": [
          "last 3 versions",
          "Safari >= 7",
          "not IE <= 6"
        ]
      }
    }],
    ["es2015", {
      "loose": true,
      "modules": false
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-function-bind",
    "transform-object-rest-spread"
  ]
}
