{
  "ignore": [
    "**/build/**/*.js*",
  ],
  "presets": [
    ["env", {
      "debug": false,
      "modules": "commonjs",
      "spec": false,
      "targets": {
        "browsers": [
          "last 3 versions",
          "safari >= 7",
          // "Safari > 10%",
          "not IE <= 8", // React doesn't support IE8 anyway
        ],
        "chrome": 52,
        "edge": 14,
        "node": "4.0",
        "uglify": true,
      },
      "useBuiltIns": false,
    }],
    "flow",
    ["es2015", {
      "loose": true,
      "modules": false,
    }],
    "stage-0",
    "react",
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["minify-dead-code-elimination", {
      "keepClassName": true,
      "keepFnArgs": true,
      "keepFnName": true,
      "optimizeRawSize": true,
      "tdz": true,
    }],
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-class-properties",
    ["transform-flow-strip-types", {
      "requireDirective": true,
    }],
    "transform-es2015-object-super",
    "transform-es2015-template-literals",
    "transform-es2015-typeof-symbol",
    "transform-exponentiation-operator",
    "transform-function-bind",
    ["transform-builtin-extend", {
      "globals": [
        "Array",
        "Date",
        "DOM",
        "Error",
      ],
      "approximate": true,
    }],
    ["transform-object-rest-spread", {
      "useBuiltIns": false,
    }],
    "transform-remove-debugger",
  ],
  "sourceMaps": true,
}
