# ==============================================================================
# Debugging, error and all other log files:
*.log
logs
lerna-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================================================================
# Secured app tokens and runtime variables:
.env

# ==============================================================================
# Runtime Data:
pids
*.pid
*.seed

# ==============================================================================
# OS X:
.DS_Store

# ==============================================================================
# Test coverage directories used by tools like Istanbul and/or instrumented
# libraries such as jscoverage/JSCover:
.nyc_output
coverage
lib-cov

# ==============================================================================
# JetBrains IDE-generated dot-folders:
.idea/
.vscode/

# ==============================================================================
# Grunt intermediate storage:
#   > [Ref. URL]:  <http://gruntjs.com/creating-plugins#storing-task-files>
.grunt

# ==============================================================================
# Compiled output:
#   > [Ref. URL]:  <http://nodejs.org/api/addons.html>
build
dist

# ==============================================================================
# Temporary data:
.tmp/

# ==============================================================================
# Dependency directories:
#   > Deployed apps should consider commenting these lines out...
#   > [Ref. URL]:  <https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git>
bower_components/
jspm_packages/
node_modules/
