<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head profile="https://www.w3.org/1999/xhtml/vocab">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <title><%= title %></title>

    <!-- Site-wide meta-data -->
    <meta charset="UTF-8" />
    <meta name="application-name"   content="React Timeline" />
    <meta name="author"             content="Oliver Isenrich" />
    <meta name="creator"            content="Oliver Isenrich" />
    <meta name="publisher"          content="Oliver Isenrich" />
    <meta name="generator"          content="Sublime Text 3" />
    <meta name="Resource-type"      content="Document" />
    <meta name="viewport"           content="width=device-width, initial-scale=1" />

    <!-- SEO-related meta-data -->
    <meta
      name="description"
      content="Create and visualize your beautiful timelines for the periods that matter in your life."
    />
    <meta
      name="keywords"
      content="isenrich.io, Oliver Isenrich, React Timeline"
    />

    <!-- Enable Enhanced Safari Browser PWA Support -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#B15B5B" />
    <meta name="apple-mobile-web-app-title" content="React-Timeline" />

    <!-- Internet Explorer Enhanced Browser PWA Support -->
    <meta name="msapplication-TileColor" content="#F6F8FB" />
    <meta name="theme-color" content="#B15B5B" />

    <!-- Application canonical URL -->
    <base href="/" target="_self" />

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Material-Icons icon font served via Google Web Fonts CDN -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Import Google's Roboto font face for as-intended rendering of Material-UI components -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
    />

    <!-- Cloudinary Client-Side Direct Image Upload Scripts -->
    <!-- <script src="node_modules/cloudinary_js/js/jquery.min.js" type="text/javascript"></script> -->
    <!-- <script src="node_modules/cloudinary_js/js/jquery.ui.widget.js" type="text/javascript"></script> -->
    <!-- <script src="node_modules/cloudinary_js/js/jquery.iframe-transport.js" type="text/javascript"></script> -->
    <!-- <script src="node_modules/cloudinary_js/js/jquery.fileupload.js" type="text/javascript"></script> -->
    <!-- <script src="node_modules/cloudinary_js/js/jquery.cloudinary.js" type="text/javascript"></script> -->

    <!-- Cloudinary Upload Widget CDN -->
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    
    <!-- Progressive Web App (PWA) icon asset links -->
  </head>

  <body>
    <!-- jQuery CDN (Google Hosted Library) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Display a message if JS has been disabled on the browser. -->
<!--     <noscript>
      If you're seeing this message, that means <strong>JavaScript has been disabled on your browser!</strong><br />
      Please <strong><a href="chrome://settings/" target="_blank" rel="nofollow">enable JS</a></strong> to make use of this app in all its intended glory.<br />
      <strong>NOTE:</strong>While all attempts are made at supporting as wide a set of browsers as possible, the
      <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank" rel="nofollow">Chrome browser</a> offers the optimal viewing experience.
    </noscript> -->

    <!--[if lte IE 10]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser.
        <br />
        Please <a href="http://browsehappy.com/" rel="nofollow" target="_blank">upgrade your browser</a> to improve your browsing experience and benefit from heightened security!
      </p>
    <![endif]-->

    <!-- React injection point -->
    <div id="root"></div>

    <!-- React Portal injection point -->
    <div id="modal-root"></div>

    <!-- Google Maps JavaScript API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPV-2q_c8mzFWeY6e70DvHqLP8Zvt7h1U&libraries=places"></script>

    <!-- Injected code bundles -->
  </body>
</html>
