/* CSS @keyframe Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@-webkit-keyframes dropIn {
  0% { height: 0; }
  100% { height: 150px; }
}

@-moz-keyframes dropIn {
  0% { height: 0; }
  100% { height: 150px; }
}

@-ms-keyframes dropIn {
  0% { height: 0; }
  100% { height: 150px; }
}

@-o-keyframes dropIn {
  0% { height: 0; }
  100% { height: 150px; }
}

@keyframes dropIn {
  0% { height: 0; }
  100% { height: 150px; }
}
