
/* Sass @mixin Declarations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin flex($flex: flex, $flow: row nowrap, $justify: space-around, $align: center) {
  display: $flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $align;
}

@mixin center($axes: all) {
  @if $axes == all {
    left: 50%;
    top: 50%;
  }
  @else if $axes == horizontal { left: 50%; }
  @else if $axes == vertical { top: 50%; }
  @include cbTransform(translate(-50%, -50%));
  position: absolute;
}

@mixin cbTransform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

@mixin cbTransition($transition: $transition-timing-func, $properties: all) {
  $shorthand: '';
  @each $property in $properties {
    @if index($properties, $property) < length($properties) {
      $shorthand: '#{$shorthand} #{$property} #{$transition}, ';
    } @else {
      $shorthand: '#{$shorthand} #{$property} #{$transition}';
    }
  }
  -webkit-transition: unquote($shorthand);
     -moz-transition: unquote($shorthand);
      -ms-transition: unquote($shorthand);
       -o-transition: unquote($shorthand);
          transition: unquote($shorthand);
}

@mixin cbBorderRadii($radius: 0) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin cbBoxShadow($shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.175)) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin cbBorder() {
  @each $side in $border-sides {
    $color: $theme-red;
    @if ($side == top) or ($side == left) {
      $color: transparent;
    }
    border-#{$side}: 3px solid $color;
    border-radius: 3px;
  }
}

@mixin nthChildIterator($prop, $limit: 1, $step: 1) {
  $index: 1;
  @while $index <= $limit {
    @if $index == 0 {
      &:first-child { #{$prop}: ($step * $index) + s; }
    } @else if $index == $limit { &:last-child { #{$prop}: ($step * $index) + s; }
    } @else { &:nth-child(#{$index}) { #{$prop}: ($step * $index) + s; } }
    $index: $index + 1;
  }
}

// Render :before & :after pseudoclass counterparts for quotation-style
//  text blocks:
@mixin quotes($top: -0.75rem, $right: 0, $bottom: -1rem, $left: -0.75rem) {
  position: relative;
  &:before,
  &:after {
    position: absolute;
    color: $theme-border;
    font: italic bold 2.5rem/1 -webkit-pictograph, sans-serif;
  }
  &:before {
    content: open-quote;
    top: $top;
    left: $left;
  }
  &:after {
    content: close-quote;
    bottom: $bottom;
    right: $right;
  }
}

// 
@mixin preFader($pos: right) {
  $angle: 90 + if($pos == right, 180, 0);

  position: absolute;
  content: '';
  width: 12px;
  height: inherit;
  #{$pos}: -15px;
  top: -3px;
  background: linear-gradient(unquote('#{$angle}deg, #{$trans}, rgba(232, 206, 206, 0.38) 35%, #E8CECE 100%'));
  background: linear-gradient(unquote('#{$angle}deg, #{$trans}, hsla(0, 0%, 100%, 0.38) 35%, #{$theme-content-lt}'));
  z-index: 9;
}

// 
@mixin shadowedArrows() {
  $dirs: left, right;
  $multipliers: -1, 1;

  @each $dir in $dirs {
    $offsetX: nth($multipliers, index($dirs, $dir)) * 4;

    .pan-#{$dir} {
      @if ($dir == right) { left: auto; }
      @if ($dir == left) { margin-left: 0.714286rem; }
      
      #{$dir}: 0;
      border-radius: if($dir == left, 4px 0 0 4px, 0 4px 4px 0);
      &:before { @include preFader(if($dir == left, right, left)); }
      > i {
        margin: 0 0 0 -0.25rem !important;
        text-shadow: unquote('#{$offsetX}px -1px 1px rgba(128, 128, 128, 0.48)');
      }
    }
  }
}

// 
@mixin reveal-on-hover($parent) {
  @include cbTransition(0.5s 0.125s ease-in-out);
  @extend %hidden;
  #{$parent}:hover ~ & { @extend %visible; }
}
