
/* Sass $variable Declarations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$theme-primary: #000;
$theme-border: #CCC;
$theme-content-lt: #FFF;
$theme-transparent: transparent;
$theme-red: #B15B5B;
$theme-red-op: rgba(177, 91, 91, 0.3);
$slider-gradient-start: #9E5656;
$slider-gradient-stop: $theme-red;
$slider-active-gradient-start: #904444;
$slider-active-gradient-stop: #9C5454;
$theme-red-no-op: #CDABAC;
$theme-red-disabled: rgba(177, 91, 91, 0.5);
$theme-blue: #4285F4;
$theme-black: #625F5F;
$theme-bckg: #F5F8FA;
$theme-content-lt-gray: #BBB;
$theme-primary-focus: #AB5252;
$theme-lt-white: #F1E5E6;
$bckg-black-op: rgba(94, 94, 94, 0.65);
$bckg-gray-op: rgba(212, 212, 212, 0.47);
$note-blue: #C4D8FB;
$theme-teal: #26A69A;
$cb-unchecked: #5A5A5A;

$border-sides: top right bottom left;
$transition-timing-func: .25s 0.125s cubic-bezier(0, 0.25, 0.7, 0.4);
$transition-ease: 0.45s 0.125s ease-in-out;
