
/* Sass @mixin Declarations:
 * ------------------------------------ */
@mixin flex($flex: flex, $dir: row, $justify: space-around, $align: center) {
  display: $flex;
  flex-flow: $dir nowrap;
  justify-content: $justify;
  align-items: $align;
};
@mixin cbbTransition($transition, $properties: all) {
  $shorthand: '';
  @each $property in $properties {
    @if index($properties, $property) < length($properties) {
      $shorthand: '#{$shorthand} #{$property} #{$transition}, ';
    } @else {
      $shorthand: '#{$shorthand} #{$property} #{$transition}';
    }
  }
  -webkit-transition: unquote($shorthand);
     -moz-transition: unquote($shorthand);
      -ms-transition: unquote($shorthand);
       -o-transition: unquote($shorthand);
          transition: unquote($shorthand);
};
@mixin cbbBoxShadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
};


/* Sass %placeholder Declarations:
 * ------------------------------------ */
%tt-right {
  position: absolute;
  left: 100%;
  top: 0;
  content: '';
  border-bottom: 1.5rem solid transparent;
  border-left: 1.5rem solid #FFF;
  border-right: 0 solid #FFF;
};
%tt-right-shadow {
  position: absolute;
  left: 100%;
  top: -1px;
  content: '';
  border-bottom: calc(1.5rem + 2px) solid transparent;
  border-left: calc(1.5rem + 2px) solid #CCC;
  border-right: 0 solid #CCC;
};
%tt-left {
  @extend %tt-right;
  left: -1.5rem;
  top: 0;
  content: '';
  border-left: 0 solid #FFF;
  border-right: 1.5rem solid #FFF;
};
%tt-left-shadow {
  position: absolute;
  left: calc(-1.5rem - 2px);
  top: -1px;
  content: '';
  border-bottom: calc(1.5rem + 2px) solid transparent;
  border-right: calc(1.5rem + 2px) solid #CCC;
  border-left: 0 solid #CCC;
};
%hidden {
  opacity: 0;
  visibility: hidden;
};
%visible {
  opacity: 1;
  visibility: visible;
};


/* Sass @import Declarations:
 * ------------------------------------ */
@import './partials/global';  // Include base-level HTML element styles
@import './partials/main';    // Include primary style declarations
@import './partials/media';   // Include CSS media queries
